.new-note-item {
  background-color: #999DA0;
}

.text-writable {
  border: none;
  resize: none;
  background-color: #999DA0;
}

.text-writable:focus {
  outline: none;
}

.save-new-note {
  background-color: $btn-bg;
  padding: 5px 10px;
  font-size: 0.8em;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
}

.save-new-note:hover {
  background-color: $btn-bg-hover-color;
}

.save-new-note:active {
  background-color: $btn-bg-active-color;
}


