@import 'normalize';

@import 'scafolding';

@import 'variables';

@import '../pages/NotesPage/NotesPage.scss';



h2 {
  font-size: $main-header-height;
}

body {
  padding: 0;
}

#root {
  display: flex;
  min-height: 100vh;
}

